html {
  background-color: #2980b9;
  overflow-y: scroll;
}
body {
  font-family: lato
}
a {
  border-bottom: 1px dashed #adb0bd;
  color: #adb0bd;
  text-decoration: none;
  font-weight: 300;
  font-family: lato;
}

h4 {
  font-weight: 300;
  margin-bottom: 0px;
}
h3 {
  font-weight: 300;
  margin-bottom: 0px;
}
h2 {
  font-weight: 300;
  margin-bottom: 0px;
}
h1 {
  font-weight: 300;
}

.app {
  height: 100%;
}

.search-route-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rep-route-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.profile-pic-wrapper {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.img-name-wrapper {
  flex-direction: row;
  display: -webkit-flex;
  justify-content: center;
}
.social-wrapper {
  font-size: 26px;
  margin-top: 10px;
  text-align: center;
}
.contact-wrapper {
  flex-wrap: wrap;
  display: -webkit-flex;
  justify-content: center;
}

.profile-card {
  max-height: 350px;
  border-radius: 5px;
  width: calc(400px);
  margin: 0 auto;
  min-height: 350px;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: #054A91;
  border: 0px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-top: 50px;
}

.hover-icon {
  color: #adb0bd;
  cursor: pointer;
  border-bottom: 0px;
  transition: color 100ms linear;
}
.hover-icon:hover {
  color: white;
}

@media (max-width: 768px) {
  .link-fonts {
    font-size: 5vw;
  }
}
.search-box-wrapper {
    margin-top: 20px;
    height: 50px;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    position: relative;
}
.search-box {
    padding-right: 40px;
    padding-left: 13px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 15px;
    border-bottom-color: #825acb;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.2);
    outline: none;
    font-weight: 300;
    background-color: #003559;
    border: 1px solid #011b2d;
    color: #c7c7c7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input::placeholder {
  color: #adb0bd;
}

.send-button {
    cursor: pointer;
    position: absolute;
    top: 25%;
    bottom: 50%;
    right: 10px;
    font-size: 25px;
    height: 25px;
    width: 25px;
}

